<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Fitness Tracker - Data Analysis">
        <meta name="keywords" content="HTML, CSS, JavaScript, Python, Bootstrap, Flask">
        <meta name="author" content="John Doe">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simple Flask App</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div class="container">
            <h1>Hello, World!</h1>
            <p>This is a simple Flask web application.</p>
        </div>
    </body>

</html>